body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

.auth-container {
    margin: 65px auto 0 auto;
    max-width: 600px;
}

.navbar .container {
    width: auto;
}

.navbar-inverse .navbar-text {
    color: #FFFFFF;
}

.navbar-inverse .navbar-text .glyphicon {
    margin-right: 5px;
}

.form-control[type=file] {
    padding: 0;
}

.editor-container {
    margin: 65px 30px 0 30px;
}

.task-importer {
    margin-top: 65px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.task-importer iframe {
    position:absolute;
    width: 100%;
    height: 100%;
    border: 0;
}

.loader-modal {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-modal:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.loader {
    border: 4px solid #EEEEEE;
    border-radius: 50%;
    border-top: 4px solid #333333;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


.loader-modal .loader {
    width: 64px;
    height: 64px;
    border-width: 8px;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.console-output {
    background: #333333;
    border: 0;
    color: #FFFFFF;
}

.mce-fullscreen {
    z-index: 1500 !important;
}


.modal-backdrop {
    visibility: hidden !important;
}

.modal.in {
    background-color: rgba(0,0,0,0.5);
}

.mce-menubar {
    float: left;
}