body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

body, html, #reactbody {
    background-color: #F1F2F7;
}

.auth-container {
    margin: 65px auto 0 auto;
    max-width: 600px;
}

.navbar .container {
    width: auto;
}

.navbar-inverse .navbar-text {
    color: #FFFFFF;
}

.navbar-inverse .navbar-text .glyphicon {
    margin-right: 5px;
}

.form-control[type=file] {
    padding: 0;
}

.editor-container {
    margin: 65px 50px 0 50px;
}

.task-importer {
    margin-top: 65px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.task-importer iframe {
    position:absolute;
    width: 100%;
    height: 100%;
    border: 0;
}

.loader-modal {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-modal:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.loader {
    border: 4px solid #EEEEEE;
    border-radius: 50%;
    border-top: 4px solid #333333;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


.loader-modal .loader {
    width: 64px;
    height: 64px;
    border-width: 8px;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.console-output {
    background: #333333;
    border: 0;
    color: #FFFFFF;
}

.mce-fullscreen {
    z-index: 1500 !important;
}


.modal-backdrop {
    visibility: hidden !important;
}

.modal.in {
    background-color: rgba(0,0,0,0.5);
}

/* text editors */
.mce-menubar {
    float: left;
}

i.mce-i-markdown:before {
    content: "\e243";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
 }

.editor-toolbar.fullscreen {
    z-index: 1040;
}

.collapse-button {
    color: #9B9B9B;
}

div[data-schemaid="root"][data-schemapath="root"]>.well {
    margin-left: 0 !important;
}

.description-container {
    border: 1px solid #e3e3e3;
    border-top: none;
    padding: 2px 20px 25px 25px;
    background-color: white;
}

.description-container p {
    color: #787878;
    max-width: 50%;
}

.header-container {
    border: 1px solid #e3e3e3;
    border-bottom: none;
    padding: 25px 20px 2px 25px;
    background-color: white;
}

.header-container h3 {
    color: #4A90E2;
}


div[data-schemaid="root"][data-schemapath="root"]>.header-container {
    border: none;
    padding: 8px 2px 2px 2px;
    background-color: inherit;
}

div[data-schemaid="root"][data-schemapath="root"]>.header-container h3 {
    color: #4A4A4A;
}

div[data-schemaid="root"][data-schemapath="root"]>.header-container .btn-group {
    display: none;
}

div[data-schemaid="root"][data-schemapath="root"]>.description-container {
    border: none;
    padding: 2px 2px 8px 2px;
    background-color: inherit;
}

.indented-panel {
    padding: 0;
    margin-left: 25px;
    background-color: inherit;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}

.field-container {
    border: 1px solid #e3e3e3;
    background-color: white;
    margin-bottom: 0;
    padding: 16px 36px;
    border-left: 5px solid #4A90E2;
    margin-top: -1px;
    margin-bottom: -1px;
    display: flex;
}

.form-left-group {
    display: inline-block;
    max-width: 40%;
    min-width: 40%;
    margin-right: 30px;
}

.form-right-group {
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.form-control {
    background-color: #F1F2F7 !important;
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 1;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
    transition: none;
    outline: none;
    color: #787878;
    font-weight: bold;
    text-overflow: ellipsis;
}

.input-field-container {
    display: flex;
}

.input-label-container {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #F1F2F7;
    color: #c5c4c4;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    height: 34px;
    width: 34px;
}

.input-label-container span {
    position: relative;
    top: 8px;
    left: 8px;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #FF001F;
}

div[data-schematype="array"]>.indented-panel {
    background-color: white;
}

.tab-holder>div {
    background-color: white;
}

.list-group {
    margin-bottom: 0;
}

.array-item-holder {
    display: inline-block;
}

.array-item-holder>.field-container>.form-right-group>.input-field-container>.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.array-item-holder>.field-container>.form-right-group>.input-field-container>.input-label-container {
    display: none;
}

.array-delete-item {
    display: inline-block;
    background-color: #F1F2F7;
    height: 34px;
    margin-top: -1px;
    vertical-align: top;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 24px;
}

.array-delete-item::before, array-delete-item::after {
    position: relative;
    font-size: 16px;
    top: 10px;
    cursor: pointer;
    color: #4A90E2;
}

.array-move-item {
    display: inline-block;
    background-color: #F1F2F7;
    height: 34px;
    margin-top: -1px;
    vertical-align: top;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 24px;
}

.array-move-item::before, array-delete-item::after {
    position: relative;
    font-size: 16px;
    top: 8px;
    left: 7px;
    cursor: move;
    color: #D8D8D8;
}

.array-item-holder>.field-container {
    padding: 0;
    border: none;
}

.array-item-holder>.field-container>.form-left-group {
    display: none;
}

.array-row-holder {
    display: flex;
    flex-wrap: wrap;
}

.array-row-holder>div {
    margin-bottom: 8px;
    margin-left: 8px;
}

.json-editor-btn-add, .round-btn {
    color: #4A90E2;
    padding: 5px 16px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #4A90E2;
		border-radius: 15px !important;
}

.json-editor-btn-add:hover, .json-editor-btn-add:active, .json-editor-btn-add:focus, .json-editor-btn-add:hover:active, .json-editor-btn-add:focus:active, .round-btn:hover, .round-btn:active, .round-btn:focus, .round-btn:hover:active, .round-btn:focus:active {
    color: #2275d3;
    border: 1px solid #2275d3;
    background-color: white;
}

.add-button {
    margin-right: 8px;
}

.well {
    min-height: 0;
}

.mce-edit-area, .mce-content-body {
    background-color: #F1F2F7 !important;
		color: #787878 !important;
}

.external-preview-bar {
    display: flex;
}

.external-preview-bar>span {
    background-color: #F1F2F7;
    padding: 8px;
    color: #4A90E2;
    font-weight: bold;
    cursor: pointer;
}

.external-control:not(.active-editor)>.mce-container {
    display: none;
}

.external-control:not(.active-editor)>.external-preview-bar>span {
    display: none;
}

input[type="external_preview"] {
    cursor: text !important;
}

.array-wide-item, .array-wide-item>.array-item-holder, .array-wide-item>.array-item-holder>.field-container  {
    width: 100%;
}

.array-wide-item>.array-item-holder {
    flex-grow: 1;
    display: flex;
}

.array-wide-item>.array-item-holder {
    max-width: 100%;
    flex-grow: 1;
}

.array-row-container {
    position: relative;
    display: flex;
}

.wide-array>.btn-group, .wide-array>.btn-group>button {
    width: 100%;
}

.array-row-holder+.btn-group {
    margin-left: 8px;
}

div[data-schematype="array"]>div>.form-right-group {
    margin-left: -8px;
}

.boolean-group {
    display: flex;
    width: 100%;
}

.boolean-group>button {
    margin-left: -24px !important;
    flex-grow: 1;
    background-color: #F1F2F7;
    color: #c5c4c4;
    box-shadow: inset 1px 1px 0 0 #F1F2F7;
    border: none;
}

.boolean-group>button:first-child {
    margin-left: 0 !important;
}

.boolean-group>button:hover, .boolean-group>button:hover:active, .boolean-group>button:active, .boolean-group>button:focus, .boolean-group>button:focus:active {
    background-color: #F1F2F7;
    color: #c5c4c4;
    opacity: 1;
    border: none;
}

.boolean-group>button.active {
    background-color: #4A90E2;
    color: white;
    box-shadow: inset 1px 1px 0 0 #4A90E2;
    z-index: 10 !important;
}

.boolean-group>button.active:hover, .boolean-group>button.active:active, .boolean-group>button.active:focus, .boolean-group>button.active:hover:active, .boolean-group>button.active:focus:active {
    background-color: #4A90E2;
    color: white;
    opacity: 1;
    border: none;
}

button.btn:focus, button.btn:active:focus {
    outline: 0 !important;
}

.array-delete-confirm {
    position: absolute;
    left: auto;
    right: -75px;
    top: 0;
    background: #4a90e2;
    padding: 8px;
    border-radius: 6px;
    display: none;
    z-index: 2;
}

.array-delete-confirm:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(74, 144, 226, 0);
    border-right-color: #4a90e2;
    border-width: 6px;
    margin-top: -6px;
}

.array-delete-confirm>span {
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.array-delete-confirm>span:first-child {
    margin-left: 4px;
    margin-right: 10px;
}

.array-delete-confirm>span:last-child {
    margin-right: 2px;
}
