<!doctype html>
<html>
   <head>
        <meta charset="utf-8">
        <title></title>
        <script>
            window.stringsLanguage = 'en';
            var quizze_settings;
            var task_data_info = %%TASK_DATA_INFO%%;
        </script>
        <script class="remove" type="text/javascript" src="%%TASK_PATH%%/_common/modules/pemFioi/importModules-1.4-mobileFirst.js" id="import-modules"></script>
        <script class="remove" type="text/javascript">
            var json;
            var modulesPath = '%%TASK_PATH%%/_common/modules/';
            var modules = [
                'jquery-1.7.1',
                'JSON-js',
                'raphael-2.2.1',
                'jschannel',
                'platform-pr',
                'installationAPI.01',
                'miniPlatform',
                'quizze_styles',
                'quizze_ui',
                'quizze_task',
                'quizze_grader'
            ];
            task_data_info.markdown && modules.push('showdown');
            quizze_settings.mathjax && modules.push('mathjax');
            (task_data_info.markdown || quizze_settings.mathjax) && modules.push('post_processor');
            importModules(modules);
        </script>
        <script class="remove" type="text/javascript" src="grader_data.js"></script>
    </head>
    <body>
        <div id="task" style="display: none">
            <div class="intro"></div>
            <div class="taskContent"></div>
        </div>
        <div id="solution" class="remove" style="display: none"></div>
   </body>
</html>