<% for(var i=0; i<data.length; i++) { %>
    <% var type = 'multiple';
        if('format' in data[i]) {
            type = 'input'
        } else if('correct_answer' in data[i]) {
            type = 'single'
        }
    %>
    <question type="<%- type %>">
        <statement><%- data[i].text %></statement>

        <% if(type == 'input') { %>
            <answer format="<%- data[i].format %>" validator="<%- data[i].validator %>"></answer>
        <% } else { for(var j=0; j<data[i].answers.length; j++) { %>
            <answer><%- data[i].answers[j].text %></answer>
        <% }} %>

        <% if(data[i].solution) { %>
            <solution class="remove"><%- data[i].solution %></solution>
        <% } %>
    </question>
<% } %>