<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Task editor</title>
        <script type="text/javascript" src="/app/vendor.js"></script>
    </head>
    <body>
        <div id="reactbody"></div>
        <script type="text/javascript">
            window.__CONFIG__ = <%- config %>
            window.__APP_INSTANCE_ID__ = "<%- app_instance_id %>"
        </script>
        <script type="text/javascript" src="/app/app.js"></script>
    </body>
</html>