.sortable-list {
    max-height: 300px;
    overflow: auto;
}

.sortable-list .list-group {
    background: #fff;
}

.sortable-list .list-group:empty {
    height: 52px;
    background: #fff;
}

.sortable-list .list-group-item {
    cursor: move;
    padding-top: 3px;
    padding-bottom: 3px;
}

.sortable-list .sortable-placeholder {
    background: #F2F2F2;
}


.form-right-group .row {
    margin: 0;
    width: 100%;
}