<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link class="task" type="text/css" rel="stylesheet" href="../../../../_common/modules/pemFioi/progTask.css">
		<link class="task" type="text/css" rel="stylesheet" href="../../../../_common/modules/ext/bootstrap/css/bootstrap.min.css">
		<script class="remove" src="../../../../_common/modules/ext/requirejs/require.js"></script>
		<script type="text/javascript">
var modulesPath ='../../../../_common/modules';
var taskPlatformPath ='../../../../_common/task-platform';
		</script>
		<script type="text/javascript" src="../../../../_common/modules/pemFioi/progTaskConfig-1.0.js"></script>
		<script type="text/javascript" class="remove">
// general metadata conforming the PEM API Documentation for getMetaData
var PEMTaskMetaData;
// Metadata specific to the FranceIOI tasks
var FIOITaskMetaData;
		</script>
	</head>
	<body ng-controller="taskController">

		<div id="task">
		</div>

		<div class="hint">
		</div>

		<div id="solution">
		</div>
	</body>
</html>
