<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title></title>
    <script>
        window.stringsLanguage = {{{#windowLanguagePlaceholder}}}{{{windowLanguagePlaceholder}}}{{{/windowLanguagePlaceholder}}}{{^windowLanguagePlaceholder}}fr{{/windowLanguagePlaceholder}};
        window.taskStrings = {};
    </script>
    <script class="remove" type="text/javascript" src="../../modules/pemFioi/importModules-1.3.js" id="import-modules"></script>
    <script class="remove" type="text/javascript">
        var modulesPath = '../../modules/'
        importModules([
            'jquery-1.7.1', 'JSON-js', 'raphael-2.2.1', 'beaver-task-2.0', 'jschannel', 'raphaelFactory-1.0', 'delayFactory-1.0', 'simulationFactory-1.0',
            'platform-pr', 'buttonsAndMessages', 'beav-1.0', 'installationAPI.01', 'miniPlatform', 'conceptViewer-1.0', 'conceptViewer_css-1.0',
            'taskStyles-0.1']);
        // set Blockly as default language when none is specified through ?language=
        // use 3 curly braces like this in html {{{.}}} in order not to escape characters
        importLanguageModules({{{languageModulesPlaceholder}}});
    </script>
    <script class="remove" type="text/javascript">
        // general metadata conforming the PEM API Documentation for getMetaData
        var json;
    </script>
    <script type="text/javascript" src="task.js"></script>
</head>

<body onresize="task.displayedSubTask.updateScale()">
<div id="task">
    <h1 id = "taskTitle"></h1>

    <div id="tabsContainer"></div>
    <div id="taskContent" style="text-align:left;position:relative">
        <div id="taskIntro">
        </div>
        <div id="gridContainer"></div>
        <div id="blocklyLibContent"></div>
    </div>

</div><!-- task -->
</body>
</html>
